@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'vendors/_animation.css';

@import 'base/reset';
@import 'base/typography';
@import 'base/default';
@import 'base/override';

@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sidebar';
@import 'layouts/private-header';
@import 'layouts/forms';
@import 'layouts/public';
@import 'layouts/private';

@import 'tailwind/index';
