.svg-root {
  fill: currentColor;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: inherit;
}

.nav-blogs {
  .MuiAppBar-colorPrimary {
    color: #000;
    background-color: transparent;
  }
  .MuiPaper-elevation4 {
    // box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 2px 0px rgba(0, 0, 0, 0.14);
    box-shadow: none;
  }
  .MuiTab-root {
    text-transform: none;
  }
  span[class^='PrivateTabIndicator'] {
    background-color: #48bb78 !important;
  }
}

.theme-admin {
  display: flex;
  .MuiButtonBase-root.MuiButton-root.MuiButton-text {
    &[class*='Pagination-button'] {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 400;
    }
    &[class*='Pagination-activeButton'] {
      color: rgb(0, 0, 0);
      font-weight: 500;
    }
  }
}

.post-view {
  a {
    text-decoration: underline;
    color: #06c !important;
  }
  p {
    line-height: 1.5rem;
    margin-bottom: 14px;
  }
}

.skeleton {
  .MuiSkeleton-text {
    transform: none;
  }
}
