.svg-root {
  fill: currentColor;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: inherit;
}

.nav-blogs {
  .MuiAppBar-colorPrimary {
    color: #000;
    background-color: transparent;
  }
  .MuiPaper-elevation4 {
    // box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 2px 0px rgba(0, 0, 0, 0.14);
    box-shadow: none;
  }
  .MuiTab-root {
    text-transform: none;
  }
  span[class^='PrivateTabIndicator'] {
    background-color: #48bb78 !important;
  }
}
