// color
$primary: #6f47d0;
$primary-light: #757ce8;
$primary-dark: #5924d8;

$secondary: #c1bfd0;
$secondary-light: #ebedf2;
$secondary-dark: #7d7d7d;

$serenity: #0881eb;
$serenity-light: #80bdff;
$serenity-dark: rgba(25, 118, 210, 0.42);
$serenity-dark-1: rgba(25, 118, 210, 0.12);
$serenity-dark-2: rgba(25, 118, 210, 0.08);

$passion: #f4516c;

$softness: #fff;
$softness-dark: #f2f3f8;
$softness-dark-1: #f3f3f3;
$softness-dark-2: #f7f8fa;
$softness-dark-3: #ebedf2;
$softness-dark-4: #c1bfd0;
$softness-dark-5: #7d7d7d;
$softness-dark-6: #6f727d;
$softness-dark-7: #575962;
$softness-dark-8: #343a40;
$softness-dark-9: #212529;

$grief: #000;
$grief-light: #212529;
$grief-light-1: #282a3c;

//drawer
$drawer-width: 255px;
$drawer-collapse: 75px;

// header
$header-height: 70px;
